<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="amount">Number of Questions:</label>
      <input type="number" name="amount" id="amount" class="form-control" min="1" max="50" value="10">
    </div>
  </div>

  <br />
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="difficulty">Difficulty</label>
      <select name="difficulty" class="form-control">
        <option selected>Choose...</option>
        <option value="any">Any</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
  </div>

  <br />
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="type">Type</label>
      <select name="type" class="form-control">
        <option selected>Choose...</option>
        <option value="any">Any Type</option>
        <option value="multiple">Multiple Choice</option>
        <option value="boolean">True / False</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Commencer!</button>
</form>