button
{
    margin-right: 5px;
    margin-bottom: 9px;
}
strong
{
    font-size: 1em;    
    color: royalblue;
}
.btn-init-qst
{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}   