<h3>
  Personalize your test
</h3>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="personalizedForm" (ngSubmit)="getPersonalizedQuestions()">
      <div class="form-group col-md-4">
        <label for="amount">Number of questions</label>
        <input type="number" id="amount" class="form-control" min="1" max="50" formControlName="amount">
      </div>

      <div class="form-group col-md-4">
        <label for="difficulty">Difficulty</label>
        <select class="form-control" formControlName="difficulty">
          <option *ngFor="let d of difficulties" [ngValue]="d.value">{{ d.label }}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="type">Type</label>
        <select class="form-control" formControlName="type">
          <option *ngFor="let t of types" [ngValue]="t.value">{{ t.label }}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary" [disabled]="personalizedForm.invalid">Start the test!</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let q of questions; let i = index">
      <p><strong>{{ i+1 }}</strong> {{ q.question }}</p>
      <button type="button" class="btn btn-primary" *ngFor="let answer of q.incorrect_answers"
        (click)="checkAnswer(q, answer)">{{ answer }}</button>

      <div *ngIf="q.result">
        <div class="alert alert-success" role="alert" *ngIf="q.isGoodAnswer">
          <p>{{ q.result }}</p>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="!q.isGoodAnswer">
          <p>{{ q.result }}</p>
        </div>
      </div>
    </li>
    <div class="btn-init-qst" *ngIf="questions">
        <button type="button" class="btn btn-primary btn-lg" (click)="initializeQuestionnaire()">
          Initialize the questionnaire
        </button>
    </div>
  </ul>
</div>